<div class="row">
  <div class="col-10 offset-md-1">
    <table class="table mt-5 mr-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id_vol</th>
          <th scope="col">Client</th>
          <th scope="col">Place</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let vol of vols, let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ reservation.vol.id }}</td>
          <td>{{ reservation.client.nom }}</td>
          <td>{{ reservation.nbr_place }}</td>
          <td> 
            <a class="btn btn-info" href="">Modiefier</a> 
            <a class="btn btn-info" href="">Supprimer</a> 
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
