<div class="row">
  <div class="col-10 offset-md-1">
    <table class="table mt-5 mr-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ville départ</th>
          <th scope="col">Ville arrivée</th>
          <th scope="col">durée</th>
          <th scope="col">Prix</th>
          <th scope="col">Etat</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vol of vols, let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ vol.ville_depart }}</td>
          <td>{{ vol.ville_arrivee }}</td>
          <td>{{ vol.duree }}</td>
          <td>{{ vol.prix }}</td>
          <td>{{ vol.etat }}</td>
          <td>
            
            <button *ngIf="vol.etat == 'dispo'" class="btn btn-info" href="" >Réserver</button>
            <button *ngIf="vol.etat != 'dispo'" class="btn btn-info" href="" disabled>Réserver</button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
