<div class="row">
  <div class="col-10 offset-md-1">
    <br>
    <h5 class="pull-left">Liste des vols :</h5>
    <a class="btn btn-info ml-2 pull-right" href="">Ajouter un Vol</a> 
    <br>
    <table class="table mt-4 mr-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ville départ</th>
          <th scope="col">Ville arrivée</th>
          <th scope="col">Date départ</th>
          <th scope="col">Date retour</th>
          <th scope="col">durée</th>
          <th scope="col">Prix</th>
          <th scope="col">Etat</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vol of vols, let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ vol.ville_depart }}</td>
          <td>{{ vol.ville_arrivee }}</td>
          <td>{{ vol.date_depart | date}}</td>
          <td>{{ vol.date_arrivee | date}}</td>
          <td>{{ vol.duree }}</td>
          <td>{{ vol.prix }}</td>
          <td>{{ vol.etat }}</td>
          <td>
            
            <button class="btn " [ngClass]="{'btn-danger': !vol.etat, 'btn-success': vol.etat}" [routerLink]="['/vol', vol.id_vol, 'reserver']" [disabled]="!vol.etat">Réserver</button>
            <button class="btn ml-1" (click)="deleteVol(vol.id_vol)" [disabled]="!vol.etat">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
