<div class="row">
  <div class="container center_div">
    <form [formGroup]="ReservationForm" (ngSubmit)="onFormSubmit(ReservationForm)" >
      <div class="col-md mt-4">
        <h3>Reservation</h3>
        <hr />
      </div>

      <div class="card card-default">
        <div class="card-header">
          <h4 class="card-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse1"
            >
              <i class="glyphicon glyphicon-search text-gold"></i>
              <b>Vol : {{ vol?.ville_depart }} - {{ vol?.ville_arrivee }}</b>
            </a>
          </h4>
        </div>
        <div id="collapse1" class="collapse show">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group col-md-4">
                  <label for="dateReservation">Date de vol </label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="date"
                    required
                    formControlName="dateReservation"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-default mt-2 mb-2">
        <div class="card-header">
          <h4 class="card-title">
            <a
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapse1"
            >
              <i class="glyphicon glyphicon-search text-gold"></i> <b>Client</b>
            </a>
          </h4>
        </div>
        <div id="collapse1" class="collapse show">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="control-label">Nom</label>
                  <input type="text" class="form-control" required formControlName="nom" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="control-label">Prenom</label>
                  <input type="text" class="form-control" required formControlName="prenom" />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="control-label">Date de naissance</label>
                  <input type="date" class="form-control" required formControlName="dateNaissance"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="sex">Sexe</label>
                  <div class="input-group" data-toggle="buttons">
                    <label class="btn btn-default active"
                      ><input
                        type="radio"
                        name="sexe"
                        formControlName="sexe"
                        value="male"
                        checked="checked"
                      />Male</label
                    >
                    <label class="btn btn-default"
                      ><input
                        type="radio"
                        name="sexe"
                        required formControlName="sexe"
                        value="female"
                      />Female</label
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col ">
                <div class="form-group">
                  <label class="control-label">Cin</label>
                  <input class="form-control" type="text" required formControlName="cin"/>
                </div>
              </div>

              <div class="col ">
                <div class="form-group">
                  <label class="control-label">Passeport</label>
                  <input type="text" class="form-control" required formControlName="passeport"/>
                </div>
              </div>
              <div class="col ">
                <div class="form-group">
                  <label class="control-label">Email</label>
                  <input type="text" class="form-control" required formControlName="email"/>
                </div>
              </div>
              <div class="col ">
                <div class="form-group">
                  <label class="control-label">Phone</label>
                  <input type="text" class="form-control" required formControlName="phone"/>
                </div>
              </div>
            </div>
          </div>
          `
        </div>
      </div>

      <!-- submit button -->
      <div class="col-md-4 offset-md-4">
        <button type="submit" class="btn-success btn-lg btn-block">
          Reserver
        </button>
      </div>
    </form>
  </div>
</div>
